.barDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    height: 100%;
}

.bar {
    min-width: 20px;
    position: relative;
    transition-property: height;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
}