.main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 12px;
    height: 70vh;
}

.timer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0;
    margin: 10px;
    font-size: 1.8rem;
}

.timer > span {
    margin-left: 4px;
    font-size: 1.4rem;
}