.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    color: var(--primary);
    background-color: var(--background-dark);
}

.footer > div {
    display: flex;
    align-items: center;
}

.colorBox {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}